@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.leftside{
    height:100vh;
    width:25%;
    background-color:rgb(250, 236, 236);
    float:left;
    align-items: center;
}

.rightside{
    height:70vh;
    width:100%;
    background:rgb(241, 159, 159);
    float: right;
    
}
.rightside h1{
    font-weight: bold;
    font: size 56px;;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.songs{
    width: 400px;
}
.songs th{
    text-align: left;
}
.song-slider{
    width: 100%;
    position:relative;
    
}
.seek-bar{
    width:100%;
    height:5px;
    border-radius: 10px;
    background:black;
    cursor: pointer;
    
}
.current-time,
.song-duration{
    font-size:10px;


}
.song-duration{
    position: absolute;
    right: 0;
}
.controls{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}
.play-btn{
    position:relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    border: none;
}
.play-btn span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width:10px;
    height: 30px;
    border-radius: 2px;
    background: aliceblue;
    transition: .5s;

}
.play-btn span:nth-child(2){
    left: 55%;
    transform-origin: center;
}
.play-btn.pause span:nth-child(2){
    transform:translateY(-50%) scaleY(0);
}
.play-btn.pause span:nth-child(1){
    width:35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}
.play-btn.pause{
    animation:pulse 2s linear infinite;
}
@keyframes pulse{
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px white;
    }
    100%{
        border-shadow: 0 0 0 5px grey ;
    }
}
.btn {
    width: 1px;
    height:1px;
    
}

