*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:plum;
}
.home{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    
}
.home h1{
    display: flex;
    justify-content: center;
    height:20vh;
    width: 50%;
    font-size: 4em;
    font-weight: bold;
    
   
  
}

.home p{
    display: flex;
    align-items: center;
    justify-content: center;
    font: Meduim italic;
    font-size: 1.5em;
    height:20vh;
    width: 50%;
}

.home .btn1{
    align-items: center;
    height: 42px;
    width: 246px;
    background-color: turquoise;
    color: black;
    outline: none;
    border: none;
    font-weight: bold;
}
.about h1{
    font: italic;
    font-size: 1.5em;
    font-weight: bold;
}
.menu h1{
    font: oblique;
    font-size: 1.5em;
    font-weight: bold;
}
.menu{
    border: 10px solid rgba(255, 255, 187, 0.137);
}
.menu desc{
    padding:15px;
    text-align: center;

}
menu img{
    width:100%;
    height:auto;
}
.contact h1{
    text-align: center;
    font: oblique;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top:50%;
    Left:50%;
  
}
footer{
    padding: 5px;
    font-size: 10px;
    text-align: center;
    font-weight:italic;
    background:coral;
    font-family: Arial, Helvetica, sans-serif;
}